.screen {
    background-color: #fdb07d;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 1rem;
    margin-bottom: 2px;
    height: 12vh;
}

.screen span {
    color: #464646;
    font-size: 2.5rem;
}